{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container" style="margin-top: 2rem; margin-bottom: 2rem;">

    <div style="float: right; color:aqua;">
        {% include "widget.html" %}
    </div>
    
    <div class="row">
        
        {% for post_item in Producto %} 
        
        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                
                {# <img src="{{ post_item.imagen.url }}" class="card-img-top" alt="{{ post_item.titulo }}"> #}
                
                <div class="card-body">
                    <h5 class="card-title">{{ post_item.nombre }}</h5>
                    
                    <p class="card-text">{{ post_item.descripcion|slice:":100" }}...</p> 

                    <h5 class="card-title"> $ {{ post_item.precio }}</h5>
                    
                </div>

                <div class="card-footer text-center" >
                    <a href="{% url 'carro:agregar' post_item.id %}" class="btn btn-success">Agregar</a>
                </div>

            </div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}